*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: rgb(25, 27, 25);
    background-color: rgb(247, 214, 247);
    background: linear-gradient(to right, #d9a7c7, #fffcdc);
    text-align: center;
    font-size: 10px;
    font-family: 'Castoro', serif;
}

/* HEADER STYLING */

.head-img {
    background: url(resources/dahlias.jpg) no-repeat fixed;
    width: 100%;
    height: 35vh;
    background-position: top center;
    background-size: 100vh;
}

h1{
    font-size: 3.5rem;
    /* letter-spacing: .05em; */
    font-family: 'Dancing Script', cursive;
    padding-bottom: .15em;
}

header{
    margin: 2em 1em;
}

header p{
    font-style: italic;
}


nav{
    width: 80vw;
    padding: 0 0 0 20vw;
    margin: 1em 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

nav a{
    text-decoration: none;
    color: rgb(24, 23, 23);
    border-top: 1px solid rgb(24, 23, 23);
    border-bottom: 1px solid rgb(24, 23, 23);
    padding: .25em .1em .1em;
}

/* SHOP REEL STYLING */

.shop{
    width: 100vw;
    margin: 3em 0 1em;
    padding: 0;
}

.shop h3{
    font-size: 1.5rem;
    color: rgb(24, 23, 23);
    font-family: 'Dancing Script', cursive;
    letter-spacing: .15em;
    margin-bottom: .5em;
}

.shop-reel{
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.text{
    text-decoration: none;
    width: 75px;
    font-size: .5rem;
    color: rgb(24, 23, 23);
    border-top: 1px solid rgb(24, 23, 23);
    border-bottom: 1px solid rgb(24, 23, 23);
    padding: .5em 0 .25em;
    text-transform: uppercase;
    font-weight: bold;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper img{
    width: 125px;
    height: 85px;
    margin: 0;
}



/* CONTENT STYLING */

.featured{
    width: 100vw;
    margin-top: 5em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.featured h3{
    font-size: 1.5rem;
    color: rgb(24, 23, 23);
    font-family: 'Dancing Script', cursive;
    letter-spacing: .15em;
}

.featured a{
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    color: rgb(53, 52, 52);
}

.post{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 1em;
    padding-bottom: .5em;
    border-bottom: 1px solid rgb(24, 23, 23);
}

.post img{
    width: 337.5px;
    height: 244px;
    border: 2px solid gray;
}

.post h2{
    padding-left: .8em;
    padding-top: .5em;
}

.post p{
    text-align: left;
    padding: 0 1.5em;
    width: 330px;
}



/* FOOTER STYLING */

footer{
    width: 100vw;
    margin: 2em 0 5em;
}

footer h3{
    font-size: 1.5rem;
}

footer h4{
    font-size: 1rem;
    margin-top: .5em;
}

.social{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 1em;
}

.social a{
    padding: 0 1em;
}